<div class="row">
  <aside class="col-xs-4">
    <%= render 'user_profile', user: @user %>
  </aside>
  <div class="col-xs-8">
    <ul class="nav nav-tabs">
      <li class="active"><%= link_to user_path(@user) do %>ツイート <span class="badge"><%= @count_tweets %></span><% end %></li>
      <li><%= link_to followings_user_path(@user) do %>フォロー <span class="badge"><%= @count_followings %></span><% end %></li>
      <li><%= link_to followers_user_path(@user) do %>フォロワー <span class="badge"><%= @count_followers %></span><% end %></li>
    </ul>
    <%= render 'tweets/tweets', tweets: @tweets %>
  </div>
</div>
