<% if logged_in? %>
  <p>ログインユーザ: <%= current_user.name %></p>
  <ul>
    <% @tweets.each do |tweet| %>
      <li>
        <div>
          <%= link_to tweet.user.name, user_path(tweet.user) %> <span>posted at <%= tweet.created_at %></span>
        </div>
        <div>
          <p><%= tweet.content %></p>
        </div>
        <div>
          <%= link_to '削除', tweet, method: :delete, data: { confirm: "本当に消去してもよいですか" } %>
        </div>
      </li>
    <% end %>
  </ul>
  <div>
    <%= form_for(@tweet) do |f| %>
      <div>
        <%= f.label :content, '内容' %>
        <%= f.text_field :content %>
      </div>
      <%= f.submit 'ツイートする' %>
    <% end %>
  </div>
<% else %>
  <div>
    <h1>Expressへようこそ</h1>
    <%= link_to '新規登録する', signup_path %>
  </div>
<% end %>

<!--DMボタン-->
<!--友達を探すボタン-->
<!--タイムライン-->
<!--フォロー-->
<!--フォロワー-->
